*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 560px;

    justify-content: space-between;

    background: #D7D5FF;
}

.headertexto{
    position: relative;
    flex-wrap: wrap;

    top: 140px;
    left: 100px;



}

.headertitulo{

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    width: 300px;
    


    

    color: #2B2B2B;
}

.headerdesc{

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    width: 390px;
    margin-top: 17.5px;

}

.headerbutton{
    width: 155px;
    height: 50px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border: none;

    margin-top: 45px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    color: #FFFFFF;
}

.img{
    margin-top: 77px;
    margin-right: 104px;
}

body{
    background: #F9F9F9;
}

section{
    position: relative;
    flex-wrap: wrap;
}

.caixa{
    width: 340px;
    height: 423px;
    flex-wrap: wrap;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.linha1{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.linha2{
    display: flex;
    justify-content: space-around;
    margin-top: 68px;
}


.conttitulo{
    margin-left: 30px;
    margin-top: 24px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.contdesc{
    margin-left: 30px;
    margin-top: 26px;
    margin-right: 28px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.cor1{
    width: 340px;
    height: 222px;

    background: #FF6363;
}

.cor2{
    width: 340px;
    height: 222px;

    background: #63ECFF;
}

.cor3{
    width: 340px;
    height: 222px;

    background: #F363FF;
}

.cor4{
    width: 340px;
    height: 222px;

    background: #63FF73;
}

.cor5{
    width: 340px;
    height: 222px;

    background: #FFDD63;
}

.cor6{
    width: 340px;
    height: 222px;

    background: #6663FF;
}

footer{
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    text-align: center;
    width: 100%;
    height: 750px;
    margin-top: 150px;
    background: #D7D5FF;
}

.footertitulo{
    padding-top: 85px;
    padding-bottom: 45px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;


}

.input{
    width: 470px;
    height: 65px;
    border: none;
    margin-top: 15px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    background: #FFFFFF;
    border-radius: 6px;
}

.inputmsg{
    width: 470px;
    height: 165px;
    border: none;
    margin-top: 15px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    background: #FFFFFF;
    border-radius: 6px;
}

.footerbutton{
    width: 470px;
    height: 50px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    border: none;

    margin-top: 30px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    color: #FFFFFF;
}